- if !@feedback.errors.empty?
  .alert.alert-error
    %ul
      - @feedback.errors.full_messages.each do |msg|
        %li= msg
.well
  = form_for @feedback, html: { multipart: true } do |f|
    = f.label :name
    = f.text_field :name
    = f.label :birthday
    = f.date_select :birthday, start_year: Date.today.year - 70, end_year: Date.today.year - 10
    = f.label :date
    = f.datetime_select :date, start_year: Date.today.year
    = f.label :attachment
    = f.file_field :attachment
    = f.submit t :submit, class: "btn btn-primary"